<div class="users show">
 <h2>Show Users</h2>
<table summary="User detail view">
  <tr>
    <th>Full name</th>
    <td><%= @user.full_name %></td>
  </tr>
  <tr>
    <th>Username</th>
    <td><%= @user.username %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><%= @user.email %></td>
  </tr>
  </table>
 </div>
