<h3>Title: <%= @event.title %></h3>
<p><strong>Event date: </strong><%= @event.event_date %></p>
<p><strong>Description: </strong><%= @event.description %></p>
<!--
<% if @event.attendees.empty? %>
  <p>No attandees</p>
<% else %>
-->
  <strong>Attendees:</strong>
  <ul>
    <% @event.attendees.each do |attendee| %>
      <li><%= link_to attendee.username, user_path(attendee.id) %></li>
    <% end %>
  </ul>
<% end %>
